body {
    background: hsl(0, 0%, 8%);
    font-family: Arial;
}

p {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 10px 90px;
    margin: 5px auto;
    border: none;
    border-radius: 5px;
}

.profile-preview {
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    border-radius: 10px;
    padding: 20px;
}

.thumbnail {
    margin: 0px 115px;

}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.info {
    justify-items: center;
}

.authur {
    font-size: 25px;
    margin: 10px 0px 5px 0px;
}

.country {
    color: hsl(75, 94%, 57%);
    margin: 0px;
}

.job {
    margin: 15px;
}

.links {
    text-align: center;
}