body {
    background: hsl(0, 0%, 8%);
    font-family: Arial;
}

p {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 10px 100px;
}

.profile-preview {
    background-color: hsl(0, 0%, 12%);
    width: 300px;
}

.thumbnail {
    margin: 0px 115px;

}

.profile-pic {
    width: 70px;
    height: 70px;
}

.info {
    justify-items: center;
}

.authur {
    font-size: larger;
}

.country {
    color: hsl(75, 94%, 57%);
}

.job {}

.links {
    text-align: center;
}