body {
    background: hsl(0, 0%, 8%);
    font-family: Arial;
}

p {
    color: hsl(0, 0%, 100%);
}

button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
}

.profile-preview {
    background-color: hsl(0, 0%, 12%);
}

.thumbnail {}

.profile-pic {}

.info {}

.authur {}

.country {}

.job {}

.links {}